<a href="https://colab.research.google.com/github/ccwu0918/classroom-hahow-sqlfifty/blob/main/03-select-from/exercises-colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習

> 從資料表選擇

[數據交點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 由於近期 mybinder.org 的服務不穩定，新增 Google Colab 作為另一個寫作練習題的平台。
- 開始寫作之前，可以先按上方「Copy to Drive」按鈕將筆記本複製到自己的 Google 雲端硬碟。
- 在每份練習題的開始，都會先將四個學習資料庫載入環境。
- 因此 SQL 可以指定四個學習資料庫中的資料表，不需要額外指定資料庫。
- 在 SQL 語法起點與 SQL 語法終點這兩個單行註解之間撰寫能夠得到預期結果的 SQL。
- 可以先在自己電腦的 SQLiteStudio 或者 DBeaver 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。
- 移動到 Google Colab 的最後一個儲存格看測試結果。
- 可以每寫一題就執行測試，也可以全部寫完再執行測試。
- 練習題閒置超過 10 分鐘會自動斷線，這時只要重新點選練習題連結即可重新啟動。

In [1]:
!git clone https://github.com/ccwu0918/classroom-hahow-sqlfifty.git

Cloning into 'classroom-hahow-sqlfifty'...
remote: Enumerating objects: 907, done.
remote: Counting objects: 100% (158/158), done.
remote: Compressing objects: 100% (128/128), done.
remote: Total 907 (delta 84), reused 70 (delta 29), pack-reused 749
Receiving objects: 100% (907/907), 68.98 MiB | 9.83 MiB/s, done.
Resolving deltas: 100% (576/576), done.
Updating files: 100% (130/130), done.

In [2]:
%cd classroom-hahow-sqlfifty

/content/classroom-hahow-sqlfifty

In [ ]:
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/nba.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/covid19.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/twElection2020.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/imdb.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/exercise_index.json

In [46]:
import sqlite3
import unittest
import json
import os
import numpy as np
import pandas as pd
conn = sqlite3.connect('./databases/nba.db')
conn.execute("""ATTACH './databases/covid19.db' AS covid19""")
conn.execute("""ATTACH './databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH './databases/imdb.db' AS imdb""")

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
%sql sqlite:///./databases/nba.db
%sql ATTACH './databases/covid19.db' AS covid19
%sql ATTACH './databases/twElection2020.db' AS twElection2020
%sql ATTACH './databases/imdb.db' AS imdb

 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database covid19 is already in use
[SQL: ATTACH './databases/covid19.db' AS covid19]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database twElection2020 is already in use
[SQL: ATTACH './databases/twElection2020.db' AS twElection2020]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database imdb is already in use
[SQL: ATTACH './databases/imdb.db' AS imdb]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## 01. 從 `twElection2020` 資料庫的 `admin_regions` 資料表選擇所有變數，並且使用 `LIMIT 5` 顯示前五列資料，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(5, 4) 的查詢結果。

```
   id county town village
0   1    南投縣  中寮鄉     中寮村
1   2    南投縣  中寮鄉     內城村
2   3    南投縣  中寮鄉     八仙村
3   4    南投縣  中寮鄉     和興村
4   5    南投縣  中寮鄉     崁頂村
```

In [ ]:
%%sql
SELECT * FROM twElection2020.admin_regions

In [ ]:
pd.read_sql("SELECT * FROM twElection2020.admin_regions", conn)

In [24]:
select_all_from_admin_regions =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 02. 從 `nba` 資料庫的球隊資料表 `teams` 中選擇 `confName`、`divName`、`fullName` 三個欄位，並且使用 `LIMIT 10` 顯示前十列資料，參考下列預期的查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 3) 的查詢結果。

```
  confName    divName               fullName
0     East  Southeast          Atlanta Hawks
1     East   Atlantic         Boston Celtics
2     East    Central    Cleveland Cavaliers
3     West  Southwest   New Orleans Pelicans
4     East    Central          Chicago Bulls
5     West  Southwest       Dallas Mavericks
6     West  Northwest         Denver Nuggets
7     West    Pacific  Golden State Warriors
8     West  Southwest        Houston Rockets
9     West    Pacific            LA Clippers
```

In [ ]:
%%sql
SELECT * FROM teams limit 10

In [ ]:
pd.read_sql("SELECT * FROM teams limit 10", conn)

In [54]:
select_variables_from_teams =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 03. 從 `nba` 資料庫的球員資料表 `players` 中選擇 `firstName`、`lastName` 兩個變數，並依序取別名為 `first_name`、`last_name`，使用 `LIMIT 5` 顯示前五列資料，參考下列預期的查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(5, 2) 的查詢結果。

```
  first_name last_name
0     LeBron     James
1    Carmelo   Anthony
2     Udonis    Haslem
3     Dwight    Howard
4      Andre  Iguodala
```

In [ ]:
select_variables_as_from_players =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 04. 從 `twElection2020` 資料庫的 `admin_regions` 資料表選擇「不重複」的縣市（`county`），參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(22, 1) 的查詢結果。

```
   distinct_counties
0                南投縣
1                嘉義市
2                嘉義縣
3                基隆市
4                宜蘭縣
5                屏東縣
6                彰化縣
7                新北市
8                新竹市
9                新竹縣
10               桃園市
11               澎湖縣
12               臺中市
13               臺北市
14               臺南市
15               臺東縣
16               花蓮縣
17               苗栗縣
18               連江縣
19               金門縣
20               雲林縣
21               高雄市
```

In [ ]:
select_distinct_county_from_admin_regions =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 05. 從 `nba` 資料庫的 `teams` 資料表選擇「不重複」的分組（`divName`），參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(6, 1) 的查詢結果。

```
  distinct_divisions
0          Southeast
1           Atlantic
2            Central
3          Southwest
4          Northwest
5            Pacific
```

In [ ]:
select_distinct_division_from_teams =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 執行測試！

Runtime -> Restart and run all -> Yes -> Run anyway.

In [ ]:
# @title
class TestSelectFrom(unittest.TestCase):
    def test_01_select_all_from_admin_regions(self):
        all_from_admin_regions = pd.read_sql(select_all_from_admin_regions, conn)
        self.assertEqual(all_from_admin_regions.shape, (5, 4))
    def test_02_select_variables_from_teams(self):
        variables_from_teams = pd.read_sql(select_variables_from_teams, conn)
        self.assertEqual(variables_from_teams.shape, (10, 3))
        np.testing.assert_equal(variables_from_teams.columns.values,
                               np.array(['confName', 'divName', 'fullName']))
    def test_03_select_variables_as_from_players(self):
        variables_as_from_players = pd.read_sql(select_variables_as_from_players, conn)
        self.assertEqual(variables_as_from_players.shape, (5, 2))
        np.testing.assert_equal(variables_as_from_players.columns.values,
                               np.array(['first_name', 'last_name']))
    def test_04_select_distinct_county_from_admin_regions(self):
        distinct_county_from_admin_regions = pd.read_sql(select_distinct_county_from_admin_regions, conn)
        self.assertEqual(distinct_county_from_admin_regions.shape, (22, 1))
    def test_05_select_distinct_division_from_teams(self):
        distinct_division_from_teams = pd.read_sql(select_distinct_division_from_teams, conn)
        self.assertEqual(distinct_division_from_teams.shape, (6, 1))

suite = unittest.TestLoader().loadTestsFromTestCase(TestSelectFrom)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
#cwd = os.getcwd()
folder_name = "03-select-from"
with open("exercise_index.json", "r") as content:
    exercise_index = json.load(content)
chapter_name = exercise_index[folder_name]

In [ ]:
# @title
print("您在「{}」章節中的 {} 道 SQL 練習答對了 {} 題。".format(chapter_name, number_of_test_runs, number_of_successes))