<a href="https://colab.research.google.com/github/ccwu0918/classroom-hahow-sqlfifty/blob/main/12-views/lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習

> 虛擬資料表

[數據交點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 這個章節要學起來的 SQL 保留字

- `CREATE VIEW`
- `DROP VIEW`

In [ ]:
!git clone https://github.com/ccwu0918/classroom-hahow-sqlfifty.git

Cloning into 'classroom-hahow-sqlfifty'...
remote: Enumerating objects: 931, done.
remote: Counting objects: 100% (182/182), done.
remote: Compressing objects: 100% (152/152), done.
remote: Total 931 (delta 100), reused 70 (delta 29), pack-reused 749
Receiving objects: 100% (931/931), 69.00 MiB | 12.33 MiB/s, done.
Resolving deltas: 100% (592/592), done.
Updating files: 100% (130/130), done.

In [ ]:
%cd classroom-hahow-sqlfifty

/content/classroom-hahow-sqlfifty/classroom-hahow-sqlfifty

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///./databases/imdb.db
%sql ATTACH './databases/covid19.db' AS covid19
%sql ATTACH './databases/twElection2020.db' AS twElection2020
%sql ATTACH './databases/nba.db' AS nba

## 什麼是虛擬資料表

## 關聯式資料庫與 SQL 滿足了資料分析的應用情境

- 設計資料表彼此之間的「關聯」特性，降低彼此之間的重複性。
- 查詢所需要的資料可以源自**不同資料表**。

## 資料表的豐富度愈高，SQL 的查詢結果也愈進階

- 透過子查詢將一段 SQL 查詢結果作為資料表。
- 從學習資料庫的實體關係圖（Entity Relationship Diagram，簡稱 ER Diagram）垂直與水平合併資料表。

## 虛擬資料表（Views），也被稱為檢視表或者視圖

- 相較於使用過後即被捨棄的子查詢，虛擬資料表會被保存在資料庫中。
- 對純粹向資料庫查詢的人而言，虛擬資料表就等同於資料表的存在。
- 實際上虛擬資料表中儲存的並不是資料，而是一段 `SELECT` 敘述。
- 對虛擬資料表查詢時，才會執行被儲存的 `SELECT` 敘述生成。

## 簡單來說，虛擬資料表是一種介於「子查詢」與「建立資料表」之間的功能

- 子查詢與虛擬資料表就像是資料表版本的「衍生計算欄位」。
- 多數「非資料庫管理員」的分析師不具備建立資料表的權限。
- 透過子查詢與虛擬資料表可以滿足新增資料表的需求。

## 建立虛擬資料表

## 以 `CREATE VIEW` 建立虛擬資料表

```sql
CREATE VIEW database_name.view_name (column_names)
    AS
SELECT Statement;
```

In [ ]:
%%sql
CREATE VIEW imdb.highest_rating_by_year (release_year, max_rating)
    AS
SELECT release_year,
       MAX(rating) AS max_rating
  FROM movies
 GROUP BY release_year;

In [ ]:
%%sql
SELECT *
  FROM highest_rating_by_year
 LIMIT 5;

+--------------+------------+
| release_year | max_rating |
+--------------+------------+
| 1921         | 8.3        |
+--------------+------------+
| 1924         | 8.2        |
+--------------+------------+
| 1925         | 8.2        |
+--------------+------------+
| 1926         | 8.1        |
+--------------+------------+
| 1927         | 8.3        |
+--------------+------------+
5 rows in set (0.00 sec)

## 刪除虛擬資料表

## 以 `DROP VIEW` 刪除虛擬資料表

```sql
DROP VIEW database_name.view_name;
```

In [ ]:
%%sql
DROP VIEW imdb.highest_rating_by_year;

## 刪除虛擬資料表之後便無法對它查詢

In [ ]:
%%sql
SELECT *
  FROM highest_rating_by_year
 LIMIT 5;

## 重點統整

- 虛擬資料表（Views），也被稱為檢視表或者視圖。
- 虛擬資料表是一種介於「子查詢」與「建立資料表」之間的功能。
- 相較於使用過後即被捨棄的子查詢，虛擬資料表會被保存在資料庫中。

## 重點統整（續）

- 子查詢與虛擬資料表就像是資料表版本的「衍生計算欄位」。
- 虛擬資料表中儲存的並不是資料，而是一段 `SELECT` 敘述。

```sql

/*截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。*/
SELECT column_names     -- 選擇哪些欄位
  FROM left_table       -- 從哪個資料庫的資料表
  JOIN right_table      -- 與哪個資料表水平合併
    ON left_table.join_key = right_table.join_key
 WHERE conditions       -- 篩選哪些觀測值
 GROUP BY column_names  -- 指定依照哪個變數分組
HAVING conditions       -- 篩選哪些分組聚合的結果
 UNION SELECT statement -- 與哪段 SQL 垂直合併
 ORDER BY column_names  -- 指定依照哪個變數排序
 LIMIT m;               -- 查詢結果顯示前 m 列就好
```

```sql
/*截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。*/
CREATE VIEW database_name.view_name (column_names)
    AS
SELECT Statement;  -- 建立虛擬資料表
DROP VIEW database_name.view_name;  -- 刪除虛擬資料表
```