<a href="https://colab.research.google.com/github/ccwu0918/classroom-hahow-sqlfifty/blob/main/13-cud/lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習

> 建立更新與刪除資料表

[數據交點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 這個章節要學起來的 SQL 保留字

- `CREATE TABLE`
- `INSERT INTO`
- `VALUES`
- `UPDATE`
- `SET`
- `DELETE FROM`
- `DROP TABLE`

In [ ]:
!git clone https://github.com/ccwu0918/classroom-hahow-sqlfifty.git

Cloning into 'classroom-hahow-sqlfifty'...
remote: Enumerating objects: 931, done.
remote: Counting objects: 100% (182/182), done.
remote: Compressing objects: 100% (152/152), done.
remote: Total 931 (delta 100), reused 70 (delta 29), pack-reused 749
Receiving objects: 100% (931/931), 69.00 MiB | 12.33 MiB/s, done.
Resolving deltas: 100% (592/592), done.
Updating files: 100% (130/130), done.

In [ ]:
%cd classroom-hahow-sqlfifty

/content/classroom-hahow-sqlfifty/classroom-hahow-sqlfifty

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///./databases/imdb.db
%sql ATTACH './databases/covid19.db' AS covid19
%sql ATTACH './databases/twElection2020.db' AS twElection2020
%sql ATTACH './databases/nba.db' AS nba
%sql ATTACH './databases/test.db' AS test

## 資料操作

## SQL（發音為 ess-que-ell 或 sequel）全名為 Structured Query Language，是一個能夠針對資料庫進行「資料操作」的語言。

## 「資料操作」涵蓋了 CRUD 這四個動詞：

- 創造 **C**reate
- 查詢 **R**ead
- 更新 **U**pdate
- 刪除 **D**elete

## 對於「非資料庫管理員」的分析師，SQL 最重要的任務就是進行查詢

但是 SQL 能夠對資料庫進行的操作不僅止於查詢 Read。

## SQL  的組成可以分為四大部分

1. **資料操作語言（Data Manipulation Language, DML）**
2. **資料定義語言（Data Definition Language, DDL）**
3. 資料控制語言（Data Control Language, DCL）
4. 交易控制語言（Transaction Control Language, TCL）

## CRUD 與 SQL 的關係

- 與觀測值相關的 CRUD 屬於**資料操作語言（Data Manipulation Language, DML）**的範疇
- 與資料表相關的 CRUD 屬於**資料定義語言（Data Definition Language, DDL）**的範疇

## 建立資料表

## 在熟悉的路徑建立一個 `test` 資料庫練習 CUD

![create_database](https://github.com/ccwu0918/classroom-hahow-sqlfifty/blob/main/13-cud/create_database.png?raw=1)

## 以 `CREATE TABLE` 建立資料表

```sql
CREATE TABLE database_name.table_name (
    column_names COLUMN_TYPES
);
```

In [ ]:
%%sql
DROP TABLE IF EXISTS test.favorite_movies;

In [ ]:
%%sql
CREATE TABLE test.favorite_movies (
    title TEXT,
    release_year INTEGER,
    imdb_rating REAL
);

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

Empty set (0.00 sec)

## 以 `INSERT INTO` 建立觀測值

```sql
INSERT INTO database.table_name (column_names)
VALUES
       (observations);
```

In [ ]:
%%sql
INSERT INTO test.favorite_movies (title, release_year, imdb_rating)
VALUES
       ('The Shawshank Redemption', 1995, 9.2),
       ('The Godfather', 1972, 9.1),
       ('The Dark Knight', 2008, 9.0),
       ('Forrest Gump', 1994, 8.8);

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

+--------------------------+--------------+-------------+
| title                    | release_year | imdb_rating |
+--------------------------+--------------+-------------+
| The Shawshank Redemption | 1995         | 9.2         |
+--------------------------+--------------+-------------+
| The Godfather            | 1972         | 9.1         |
+--------------------------+--------------+-------------+
| The Dark Knight          | 2008         | 9           |
+--------------------------+--------------+-------------+
| Forrest Gump             | 1994         | 8.8         |
+--------------------------+--------------+-------------+
4 rows in set (0.00 sec)

## 匯入 CSV 檔案建立資料表

使用 SQLiteStudio 或者 DBeaver 的資料匯入（Import）功能。

[movies.csv](https://hahow-sqlfifty.s3-ap-northeast-1.amazonaws.com/movies.csv)

## 更新觀測值

## 以 `UPDATE SET WHERE` 更新觀測值

```sql
UPDATE database_name.table_name
   SET update_columns = update_values
 WHERE conditions;
```

## 刺激1995？

The Shawshank Redemption 於 1994-10-14 在美國上映, 於 1995-03-10 在台灣上映，中文片名為「刺激1995」。

In [ ]:
%%sql
UPDATE test.favorite_movies
   SET release_year = 1994
 WHERE title = 'The Shawshank Redemption';

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

+--------------------------+--------------+-------------+
| title                    | release_year | imdb_rating |
+--------------------------+--------------+-------------+
| The Shawshank Redemption | 1994         | 9.2         |
+--------------------------+--------------+-------------+
| The Godfather            | 1972         | 9.1         |
+--------------------------+--------------+-------------+
| The Dark Knight          | 2008         | 9           |
+--------------------------+--------------+-------------+
| Forrest Gump             | 1994         | 8.8         |
+--------------------------+--------------+-------------+
4 rows in set (0.00 sec)

## 以 `DELETE FROM` 刪除觀測值

```sql
DELETE FROM database_name.table_name
 WHERE conditions;
```

## 教父對同學可能太過於古老

The Godfather 於 1972-03-24 在美國上映。

In [ ]:
%%sql
DELETE FROM test.favorite_movies
 WHERE release_year = 1972;

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

+--------------------------+--------------+-------------+
| title                    | release_year | imdb_rating |
+--------------------------+--------------+-------------+
| The Shawshank Redemption | 1994         | 9.2         |
+--------------------------+--------------+-------------+
| The Dark Knight          | 2008         | 9           |
+--------------------------+--------------+-------------+
| Forrest Gump             | 1994         | 8.8         |
+--------------------------+--------------+-------------+
3 rows in set (0.00 sec)

## 刪除資料表的「所有」觀測值

```sql
DELETE FROM database_name.table_name;
```

In [ ]:
%%sql
DELETE FROM test.favorite_movies;

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

Empty set (0.00 sec)

## 刪除資料表

## 以 `DROP TABLE` 刪除資料表

```sql
DROP TABLE database_name.table_name;
```

In [ ]:
%%sql
DROP TABLE test.favorite_movies;

In [ ]:
%%sql
SELECT *
  FROM favorite_movies;

Error: sqlite3_statement_backend::prepare: no such table: favorite_movies while preparing "SELECT *
  FROM favorite_movies;".

## 刪除資料庫

- 中斷資料庫連線。
- 從資料庫清單移除。
- 從電腦中移除。

## 重點統整

- SQL 能夠對資料庫進行的操作不僅止於查詢 Read。
- SQL 的組成可以分為四大部分
    - **資料操作語言（Data Manipulation Language, DML）**
    - **資料定義語言（Data Definition Language, DDL）**
    - 資料控制語言（Data Control Language, DCL）
    - 交易控制語言（Transaction Control Language, TCL）

## 重點統整（續）

- 與觀測值相關的 CRUD 屬於資料操作語言（Data Manipulation Language, DML）的範疇
- 與資料表相關的 CRUD 屬於資料定義語言（Data Definition Language, DDL）的範疇



```sql
/*截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。*/
SELECT column_names     -- 選擇哪些欄位
  FROM left_table       -- 從哪個資料庫的資料表
  JOIN right_table      -- 與哪個資料表水平合併
    ON left_table.join_key = right_table.join_key
 WHERE conditions       -- 篩選哪些觀測值
 GROUP BY column_names  -- 指定依照哪個變數分組
HAVING conditions       -- 篩選哪些分組聚合的結果
 UNION SELECT statement -- 與哪段 SQL 垂直合併
 ORDER BY column_names  -- 指定依照哪個變數排序
 LIMIT m;               -- 查詢結果顯示前 m 列就好
```



```sql
/*截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。*/
CREATE VIEW database_name.view_name (column_names)
    AS
SELECT Statement;  -- 建立虛擬資料表
DROP VIEW database_name.view_name;  -- 刪除虛擬資料表
```



```sql
/*截至目前學起來的 SQL 有哪些？
SQL 寫作順序必須遵從標準 SQL 的規定。*/
CREATE TABLE database_name.table_name (
    column_names COLUMN_TYPES
);  -- 建立資料表
INSERT INTO database.table_name (column_names)
VALUES
       (observations);  -- 建立觀測值
UPDATE database_name.table_name
   SET update_columns = update_values
 WHERE conditions;  -- 更新觀測值
DELETE FROM database_name.table_name
 WHERE conditions;  -- 刪除觀測值
DROP TABLE database_name.table_name;  -- 刪除資料表
```