<a href="https://colab.research.google.com/github/ccwu0918/classroom-hahow-sqlfifty/blob/main/06-order-by/exercises-colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習

> 排序查詢結果

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 由於近期 mybinder.org 的服務不穩定，新增 Google Colab 作為另一個寫作練習題的平台。
- 開始寫作之前，可以先按上方「Copy to Drive」按鈕將筆記本複製到自己的 Google 雲端硬碟。
- 在每份練習題的開始，都會先將四個學習資料庫載入環境。
- 因此 SQL 可以指定四個學習資料庫中的資料表，不需要額外指定資料庫。
- 在 SQL 語法起點與 SQL 語法終點這兩個單行註解之間撰寫能夠得到預期結果的 SQL。
- 可以先在自己電腦的 SQLiteStudio 或者 DBeaver 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。
- 移動到 Google Colab 的最後一個儲存格看測試結果。
- 可以每寫一題就執行測試，也可以全部寫完再執行測試。
- 練習題閒置超過 10 分鐘會自動斷線，這時只要重新點選練習題連結即可重新啟動。

In [ ]:
!git clone https://github.com/ccwu0918/classroom-hahow-sqlfifty.git

Cloning into 'classroom-hahow-sqlfifty'...
remote: Enumerating objects: 931, done.
remote: Counting objects: 100% (182/182), done.
remote: Compressing objects: 100% (152/152), done.
remote: Total 931 (delta 100), reused 70 (delta 29), pack-reused 749
Receiving objects: 100% (931/931), 69.00 MiB | 12.33 MiB/s, done.
Resolving deltas: 100% (592/592), done.
Updating files: 100% (130/130), done.

In [ ]:
%cd classroom-hahow-sqlfifty

/content/classroom-hahow-sqlfifty/classroom-hahow-sqlfifty

In [ ]:
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/nba.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/covid19.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/twElection2020.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/databases/imdb.db
# !wget -N https://raw.githubusercontent.com/datainpoint/classroom-hahow-sqlfifty/main/exercise_index.json

In [ ]:
import sqlite3
import unittest
import json
import os
import numpy as np
import pandas as pd
conn = sqlite3.connect('./databases/nba.db')
conn.execute("""ATTACH './databases/covid19.db' AS covid19""")
conn.execute("""ATTACH './databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH './databases/imdb.db' AS imdb""")

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///./databases/nba.db
%sql ATTACH './databases/covid19.db' AS covid19
%sql ATTACH './databases/twElection2020.db' AS twElection2020
%sql ATTACH './databases/imdb.db' AS imdb

 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database covid19 is already in use
[SQL: ATTACH './databases/covid19.db' AS covid19]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database twElection2020 is already in use
[SQL: ATTACH './databases/twElection2020.db' AS twElection2020]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///./databases/nba.db
(sqlite3.OperationalError) database imdb is already in use
[SQL: ATTACH './databases/imdb.db' AS imdb]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## 14. 從 `nba` 資料庫的 `career_summaries` 資料表中依據 `ppg`（Points per game，場均得分）找出場均得分最高的 10 名球員，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 2) 的查詢結果。

```
   personId   ppg
0    201142  27.1
1      2544  27.0
2   1629029  25.6
3    201935  25.2
4   1629627  25.0
5    203954  24.7
6    203081  24.6
7   1629027  24.0
8    203076  23.9
9    201939  23.8
```

In [ ]:
%%sql
SELECT * FROM career_summaries

In [ ]:
pd.read_sql("SELECT * FROM career_summaries", conn)

In [ ]:
find_top_ten_ppg_from_career_summaries =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 15. 從 `covid19` 資料庫的 `time_series` 資料表中依據 `Daily_Cases` 找出前十個單日新增確診數最多的日期，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 3) 的查詢結果。

```
         Date Country_Region  Daily_Cases
0  2020-12-10         Turkey       823225
1  2021-01-02             US       300308
2  2021-01-08             US       293268
3  2021-01-07             US       278261
4  2021-01-09             US       262622
5  2021-01-06             US       255424
6  2020-12-18             US       251961
7  2020-12-16             US       246702
8  2021-01-15             US       242734
9  2020-12-11             US       239976
```

In [ ]:
find_top_ten_daily_case_from_time_series =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 16. 從 `nba` 資料庫的 `career_summaries` 資料表中依據 `assists`、`turnovers` 欄位以及下列公式衍生計算助攻失誤比，使用 CAST 函數讓衍生計算欄位的資料類型為浮點數 REAL，找出助攻失誤比最高的前 10 名球員，參考下列的預期查詢結果。

\begin{equation}
\text{Assists Turnover Ratio} = \frac{Assists}{Turnovers}
\end{equation}

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 3) 的查詢結果。

```
   personId  assists  turnovers
0   1630216       10          1
1   1630184       69         13
2   1628420      682        131
3   1629657       20          4
4   1626145     1292        269
5   1629162      252         62
6   1629603        4          1
7    101108    10051       2572
8   1630201       30          8
9   1627853      441        120
```

In [ ]:
find_top_ten_ast_to_ratio_from_career_summaries =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 執行測試！

Runtime -> Restart and run all -> Yes -> Run anyway.

In [ ]:
# @title
class TestOrderBy(unittest.TestCase):
    def test_14_find_top_ten_ppg_from_career_summaries(self):
        top_ten_ppg_from_career_summaries = pd.read_sql(find_top_ten_ppg_from_career_summaries, conn)
        self.assertEqual(top_ten_ppg_from_career_summaries.shape, ((10, 2)))
        np.testing.assert_equal(top_ten_ppg_from_career_summaries['personId'].values[:5],
                               np.array([201142, 2544, 1629029, 201935, 1629627]))
    def test_15_find_top_ten_daily_case_from_time_series(self):
        top_ten_daily_case_from_time_series = pd.read_sql(find_top_ten_daily_case_from_time_series, conn)
        self.assertEqual(top_ten_daily_case_from_time_series.shape, ((10, 3)))
        np.testing.assert_equal(top_ten_daily_case_from_time_series['Date'].values[:5],
                               np.array(['2020-12-10', '2021-01-02', '2021-01-08', '2021-01-07', '2021-01-09']))
        np.testing.assert_equal(top_ten_daily_case_from_time_series['Country_Region'].values[:5],
                               np.array(['Turkey', 'US', 'US', 'US', 'US']))
    def test_16_find_top_ten_ast_to_ratio_from_career_summaries(self):
        top_ten_ast_to_ratio_from_career_summaries = pd.read_sql(find_top_ten_ast_to_ratio_from_career_summaries, conn)
        self.assertEqual(top_ten_ast_to_ratio_from_career_summaries.shape, (10, 3))
        np.testing.assert_equal(top_ten_ast_to_ratio_from_career_summaries['personId'].values[:5],
                                np.array([1630216, 1630184, 1628420, 1629657, 1626145]))

suite = unittest.TestLoader().loadTestsFromTestCase(TestOrderBy)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
#cwd = os.getcwd()
folder_name = "06-order-by"
with open("exercise_index.json", "r") as content:
    exercise_index = json.load(content)
chapter_name = exercise_index[folder_name]

In [ ]:
# @title
print("您在「{}」章節中的 {} 道 SQL 練習答對了 {} 題。".format(chapter_name, number_of_test_runs, number_of_successes))